[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
web3 = "*"
flask = "*"
psycopg2 = "*"
sqlalchemy = "*"
python-dotenv = "*"
pytest = "*"
flask-sqlalchemy = "*"
pyyaml = "*"

[dev-packages]

[requires]
python_version = "3.9"
